body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../assets/background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(26, 19, 10);
    color: rgb(255, 255, 255);
    font-family: 'Birthstone', cursive;
}

header {
    margin-top: 20px;
    font-size: 2rem;
}

#ans-box {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    opacity: 100%;
    background-size: 410px 410px;
    text-align: center;
    margin: 20px;
    position: relative;
}

#answer {
    position: absolute;
    top: 45%;
    text-align: center;
    font-size: 1.4rem;
}

button {
    border-radius: 5px;
}

.hidden {
    display: none;
}

.shake {
    animation: shake 0.8s;
  
    animation-iteration-count: 2;
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -4px) rotate(-1deg); }
    20% { transform: translate(-6px, 0px) rotate(1deg); }
    30% { transform: translate(6px, 4px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 4px) rotate(-1deg); }
    60% { transform: translate(-6px, 2px) rotate(0deg); }
    70% { transform: translate(6px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -4px) rotate(-1deg); }
  }

  footer {
      font-size: 1.7rem;
  }